@keyframes opacity-default {
  to {
    opacity: 1;
  }
}
@keyframes scale-default {
  to {
    transform: scale(1);
  }
}
@keyframes translate-default {
  to {
    transform: translate(0);
  }
}
@keyframes rotate-default {
  to {
    transform: rotate(0);
  }
}
