body {
  color: #000;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

[class*='__container'] {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 15px;
}
