:root {
  /* fonts */
  --main-font-family: 'Plus Jakarta Sans', sans-serif;
  --second-font-family: 'Inter', sans-serif;
  --logo-font-family: 'DM Serif Text', serif;

  /* colors */
  --primary-title: #ffffff;
  --primary-text: #94a3b8;
  --pramary-bg: #001029;

  --header-bottom-border: #ffffff14;
  --trusted-block-border: #ffffff0d;

  --hero-picture-bg: #031430;
  --service-bg: #0314304d;
  --trusted-list-bg: #8fa2bd33;

  --link-bg: #4251f0;
  --process-number-gradient: #12d5f8;

  --btn-box-shadow: 0 4px 20px #4251f066;

  --performance-bg: #03183acc;
  --performance-border: #ffffff1a;
  --performance-number-bg: #22c55e;

  --service-card-border: #ffffff14;
  --service-card-bg: #03183a80;
  --service-card-icon-border: #4251f033;
  --service-card-icon-bg: #4251f01a;
  --service-card-box-shadow: #0000004d;

  --hover-icon: brightness(0) invert(28%) sepia(78%) saturate(3802%) hue-rotate(236deg)
    brightness(98%) contrast(97%);
  --img-filter: brightness(0) invert(1);
}
