:root {
  /* fonts */
  --main-font-family: 'Plus Jakarta Sans', sans-serif;
  --logo-font-family: 'DM Serif Text', serif;

  /* colors */
  --primary-title: #ffffff;
  --primary-text: #94a3b8;
  --pramary-bg: #0b1220;

  --link-bg: #4251f0;

  --hover-icon: brightness(0) invert(28%) sepia(78%) saturate(3802%) hue-rotate(236deg)
    brightness(98%) contrast(97%);
  --img-filter: brightness(0) invert(1);
}
